@{
    ViewBag.Title = "Contato";
}
<h3>@ViewBag.Message</h3>

<address>
    SmartMonkey Monitoring<br />
    Rua Haddock Lobo, 595 - Cerqueira César, São Paulo - SP, 01414-002<br />
    <abbr title="Phone">Telefone:</abbr>
    (11) 97960-6419
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:allan.nunes@bandtec.com.br">allan.nunes@bandtec.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:allan.nunes@bandtec.com.br">allan.nunes@bandtec.com.br</a>
</address>