@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SmartMonkey</h1>
    <p class="lead">Monitore servidores Moodle com ampla gama de funcionalidades, relatórios, gráficos e controle eficaz de incidentes!</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-1">
        <img src="~/Content/Images/relatorio.svg" />
    </div>
    <div class="col-md-3">
        <h2>Relatórios</h2>
        <p>
            Utilizando tecnologia B.I. Qlik Sense, tenha em mãos relatórios e gráficos para melhor gerenciamento dos seu servidores e máquinas!
            Fornecendo uma melhoria significativa na tratativa de incidente e melhorando o planejamento!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-1">
        <img src="~/Content/Images/grafico.svg" style="height:70px" />
    </div>
    <div class="col-md-3">
        <h2>Gráficos</h2>
        <p>
            Monite o desempenho de seus servidores em tempo real!
            Para maior segurança, personalize alertas com delimitações de Memória RAM, CPU e HD para ser avisado caso ocorra!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Saiba mais &raquo;</a></p>
    </div>
    <div class="col-md-1">
        <img src="~/Content/Images/suporte.svg" style="height:70px"/>
    </div>
    <div class="col-md-3">
        <h2>Chamados</h2>
        <p>
            Gerencie seus incidentes com aberturas de chamados automáticas, de acordo com as suas delimitações e facilite seu suporte!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Saiba mais &raquo;</a></p>
    </div>
</div>